.my-grid {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 50px 50px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721ee3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}

p {
    margin: 6px;
    padding: 6px;
    border: 4px;
    solid black;
    width: 300px;
    height: 100px;
    background-color: orange;
}
